@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-lightBlue-600 underline hover:text-lightBlue-800;
    }

    p {
        @apply my-5 text-gray-700;
    }

    ul, ol {
        @apply pl-5 my-5 leading-normal;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-none;
        counter-reset: my-counter;
    }

    ol > li {
        counter-increment: my-counter;
    }

    ol > li::before {
        @apply font-bold;
        content: counter(my-counter) ". ";
    }

    li {
        @apply mt-1.5 mb-1.5 text-gray-700;
    }

    p > code, li > code {
        @apply bg-gray-200 rounded p-0.5 text-gray-800;
    }
}

@layer components {
    .conversation {
        @apply rounded-lg list-none flex flex-col space-y-2 font-light pl-0;
    }

    @media (max-width: 639px) {
        .conversation {
            @apply w-full;
        }
    }

    @media (min-width: 1024px) {
        .conversation {
            @apply space-y-4;
        }
    }

    .conversation > li {
        @apply mt-0 mb-0 px-4 py-2 rounded-lg;
    }

    @media (min-width: 1024px) {
        .conversation > li {
            @apply px-5 py-3 rounded-2xl;
        }
    }

    .conversation.starting-me > li:nth-child(odd), .conversation.starting-you > li:nth-child(even) {
        @apply bg-coolGray-100 text-gray-900 text-left mr-5 rounded-bl-none border-b border-l border-coolGray-200;
    }

    @media (max-width: 1023px) {
        aside .conversation.starting-me > li:nth-child(odd), aside .conversation.starting-you > li:nth-child(even) {
            @apply border-coolGray-300;
        }
    }

    .conversation.starting-me > li:nth-child(even), .conversation.starting-you > li:nth-child(odd) {
        @apply bg-lightBlue-600 text-white text-right ml-5 rounded-br-none;
    }

    .conversation li pre {
        @apply border border-solid border-coolGray-200;
    }

    @media (max-width: 1023px) {
        .conversation li pre {
            @apply border-coolGray-300;
        }
    }

    @media (min-width: 1024px) {
        .conversation {
            @apply m-10 p-8 shadow-2xl;
        }
    }

    aside {
        @apply px-7 pt-4 pb-1 bg-gray-50 my-5 border-l-4 border-solid border-gray-100;
    }

    aside::before {
        @apply font-mono uppercase italic text-gray-300 relative top-2;
        content: 'Side note:';
    }

    .dos-and-donts {
        @apply list-none;
    }

    .dos-and-donts li {
        @apply pl-2;
    }

    .dos-and-donts .do::before, .dos-and-donts .dont::before {
        @apply text-white leading-none flex justify-center h-6 w-6 absolute -ml-8 font-bold rounded-full;
        padding-top: 3px;
    }

    .dos-and-donts .do::before {
        @apply bg-green-700;
        background: #65A30D;
        content: '+';
    }

    .dos-and-donts .dont::before {
        @apply bg-red-700;
        content: '–';
    }

    .article-title {
        @apply text-3xl font-black mb-5;
    }

    @media (min-width: 1024px) {
        .article-title {
            @apply text-5xl leading-normal mb-10;
        }
    }

    .section-title {
        @apply text-2xl font-extrabold mt-14;
    }

    @media (min-width: 1024px) {
        .section-title {
            @apply text-4xl leading-normal mt-20;
        }
    }

    .section-subtitle {
        @apply text-xl font-bold mt-10;
    }

    @media (min-width: 1024px) {
        .section-subtitle {
            @apply text-2xl;
        }
    }
}
