@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-lightBlue-600 underline hover:text-lightBlue-800;
    }

    p {
        @apply my-5 text-gray-700;
    }

    ul, ol {
        @apply pl-5 my-5 leading-normal;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-none;
        counter-reset: my-counter;
    }

    ol > li {
        counter-increment: my-counter;
    }

    ol > li::before {
        @apply font-bold;
        content: counter(my-counter) ". ";
    }

    li {
        @apply mt-1.5 mb-1.5 text-gray-700;
    }

    p > code, li > code {
        @apply bg-gray-200 rounded p-0.5 text-gray-800;
    }
}

@layer components {
    .conversation {
        @apply rounded-lg p-8 m-10 list-none flex flex-col space-y-4 shadow-2xl font-light;
    }

    .conversation > li, .conversation.starting-me > li, .conversation.starting-you > li:nth-child(odd) {
        @apply ml-6 mr-0 rounded-2xl rounded-br-none bg-lightBlue-600 px-5 py-3 text-white text-right shadow border-0;
    }

    .conversation > li:nth-child(odd), .conversation.starting-me > li:nth-child(odd), .conversation.starting-you > li {
        @apply ml-0 mr-6 rounded-bl-none rounded-br-2xl bg-gray-50 text-gray-900 text-left border border-gray-100 border-solid;
    }

    .conversation li pre {
        @apply border border-solid border-gray-200;
    }

    aside {
        @apply px-7 pt-4 pb-1 bg-gray-50 my-5 border-l-4 border-solid border-gray-100;
    }

    aside::before {
        @apply font-mono uppercase italic text-gray-300 relative top-2;
        content: 'Side note:';
    }

    .dos-and-donts {
        @apply list-none;
    }

    .dos-and-donts li {
        @apply pl-2;
    }

    .dos-and-donts .do::before, .dos-and-donts .dont::before {
        @apply text-white leading-none flex justify-center h-6 w-6 absolute -ml-8 font-bold rounded-full;
        padding-top: 3px;
    }

    .dos-and-donts .do::before {
        @apply bg-green-700;
        background: #65A30D;
        content: '+';
    }

    .dos-and-donts .dont::before {
        @apply bg-red-700;
        content: '–';
    }

    .section-title {
        @apply text-4xl font-extrabold leading-normal mt-20;
    }

    .section-subtitle {
        @apply text-2xl font-bold;
    }
}
